h1 {
    text-align: center;
}

.span {
    color: red;
    font-size: larger;
}

.divsettings {
    width: 400px;
    border: black 2px solid;
    padding: 5px;
    font-size: larger;
    margin: auto;
}

.divimg {
    max-width: 400px;
}

hr {
    color: blue;
}
